# This is an example .env file for the Lorica API.

DATABASE_URL=[YOUR_DATABASE_URL] 


ADMIN_EMAIL=[YOUR_EMAIL]
ADMIN_PASSWORD=[YOUR_PASSWORD]

JWT_SECRET_KEY=[SECRET_KEY_FOR_JWT]
JWT_ALGORITHM=[JWT_ALGORITHM]
ACCESS_TOKEN_EXPIRE_MINUTES=[TIME_IN_MINUTES]